<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
  <h1>hello world</h1>
  <!-- <% include blocks/header.ejs %>
  <p><%= commenData %></p>
  <p><%= title %></p>
  <ul>
    <% for(var i = 0;i < list.length;i++){ %>
    <li><%= list[i] %></li>
    <% } %>
  </ul> -->
</body>

</html>